<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer"
        class="bg-dark footer footer-alt text-white-50 navbar fixed-bottom d-flex justify-content-center">
    <script>document.write(new Date().getFullYear())</script> &copy;
    theme by <a href="https://getbootstrap.com" class="text-white-50">Twitter Bootstrap</a>
</footer>

<div th:fragment="scripts" id="scripts">
    <!--	<div th:fragment="scripts" th:remove="tag">-->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/bootstrap4_5/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</div>

</html>